[submodule "themes/blog"]
	path = themes/blog
	url = git@github.com:scorbiclife/hugo-theme.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
